## Bike Sales Data

In [33]:
import pandas as pd
from statistics import mean
from statistics import median

In [34]:
station = pd.read_csv('./cycleshare/station.csv')
trip = pd.read_csv('./cycleshare/trip.csv')
weather = pd.read_csv('./cycleshare/weather.csv')

In [35]:
# trip
weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

### Trip Duration in seconds is:

In [36]:
trip_duration = trip['tripduration'].mean()
trip_duration

1178.3542840325176

### What’s the most common age of a bicycle-sharer?

In [37]:
common_year = trip['birthyear'].mode().item()
this_year = 2021
common_age = this_year - common_year
common_age

34.0

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [38]:
perc = weather["Precipitation_In"]
# perc

In [65]:
split_month = weather['Date'].str.split('/')
#split_month

In [40]:
df = pd.concat([perc,split_month], axis=1)

In [41]:
def Average(lst):
    return mean(lst)

In [42]:
jan = []
feb = []
mar = []
apr = []
may = []
jun = []
jul = []
aug = []
sep = []
oct = []
nov = []
dec = []

for i in range(len(df['Date'])):
    if df['Date'][i][0] == '1':
        jan.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '2':
        feb.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '3':
        mar.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '4':
        apr.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '5':
        may.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '6':
        jun.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '7':
        jul.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '8':
        aug.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '9':
        sep.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '10':
        oct.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '11':
        nov.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '12':
        dec.append(df['Precipitation_In'][i])

In [43]:
jan_mean = Average(jan)
feb_mean = Average(feb)
mar_mean = Average(mar)
apr_mean = Average(apr)
may_mean = Average(may)
jun_mean = Average(jun)
jul_mean = Average(jul)
aug_mean = Average(aug)
sep_mean = Average(sep)
oct_mean = Average(oct)
nov_mean = Average(nov)
dec_mean = Average(dec)

In [60]:
jan.sort()
feb.sort()
mar.sort()
apr.sort()
may.sort()
jun.sort()
jul.sort()
aug.sort()
sep.sort()
oct.sort()
nov.sort()
dec.sort()

In [62]:
jan_median = median(jan)
feb_median = median(feb)
mar_median = median(mar)
apr_median = median(apr)
may_median = median(may)
jun_median = median(jun)
jul_median = median(jul)
aug_median = median(aug)
sep_median = median(sep)
oct_median = median(oct)
nov_median = median(nov)
dec_median = median(dec)

In [63]:
print("jan_mean", jan_mean, "jan_median", jan_median)
print("feb_mean", feb_mean, "feb_median", feb_median)
print("mar_mean", mar_mean, "mar_median", mar_median)
print("apr_mean", apr_mean, "apr_median", apr_median)
print("may_mean", may_mean, "may_median", may_median)
print("jun_mean", jun_mean, "jun_median", jun_median)
print("jul_mean", jul_mean, "jul_median", jul_median)
print("aug_mean", aug_mean, "aug_median", aug_median)
print("sep_mean", sep_mean, "sep_median", sep_median)
print("oct_mean", oct_mean, "oct_median", oct_median)
print("nov_mean", nov_mean, "nov_median", nov_median)
print("dec_mean", dec_mean, "dec_median", dec_median)

jan_mean 0.1435483870967742 jan_median 0.02
feb_mean 0.16842105263157894 feb_median 0.04
mar_mean 0.15693548387096776 mar_median 0.025
apr_mean 0.051333333333333335 apr_median 0.0
may_mean 0.012419354838709677 may_median 0.0
jun_mean 0.0305 jun_median 0.0
jul_mean 0.012096774193548387 jul_median 0.0
aug_mean 0.0182258064516129 aug_median 0.0
sep_mean 0.041 sep_median 0.0
oct_mean 0.189 oct_median 0.04
nov_mean 0.18783333333333332 nov_median 0.035
dec_mean 0.23629032258064517 dec_median 0.1