## Bike Sales Data

In [33]:
import pandas as pd
from statistics import mean
from statistics import median

In [34]:
station = pd.read_csv('./cycleshare/station.csv')
trip = pd.read_csv('./cycleshare/trip.csv')
weather = pd.read_csv('./cycleshare/weather.csv')

In [114]:
# trip
# weather
# station

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286853,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286854,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286857,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

### Trip Duration in seconds is:

In [36]:
trip_duration = trip['tripduration'].mean()
trip_duration

1178.3542840325176

### What’s the most common age of a bicycle-sharer?

In [37]:
common_year = trip['birthyear'].mode().item()
this_year = 2021
common_age = this_year - common_year
common_age

34.0

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [38]:
perc = weather["Precipitation_In"]
# perc

In [112]:
split_month = weather['Date'].str.split('/')
# split_month

In [108]:
df = pd.concat([perc,split_month], axis=1)
# df

In [109]:
def Average(lst):
    return mean(lst)

In [110]:
jan = []
feb = []
mar = []
apr = []
may = []
jun = []
jul = []
aug = []
sep = []
oct = []
nov = []
dec = []

for i in range(len(df['Date'])):
    if df['Date'][i][0] == '1':
        jan.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '2':
        feb.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '3':
        mar.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '4':
        apr.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '5':
        may.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '6':
        jun.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '7':
        jul.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '8':
        aug.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '9':
        sep.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '10':
        oct.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '11':
        nov.append(df['Precipitation_In'][i])
    elif df['Date'][i][0] == '12':
        dec.append(df['Precipitation_In'][i])

In [43]:
jan_mean = Average(jan)
feb_mean = Average(feb)
mar_mean = Average(mar)
apr_mean = Average(apr)
may_mean = Average(may)
jun_mean = Average(jun)
jul_mean = Average(jul)
aug_mean = Average(aug)
sep_mean = Average(sep)
oct_mean = Average(oct)
nov_mean = Average(nov)
dec_mean = Average(dec)

In [60]:
jan.sort()
feb.sort()
mar.sort()
apr.sort()
may.sort()
jun.sort()
jul.sort()
aug.sort()
sep.sort()
oct.sort()
nov.sort()
dec.sort()

In [62]:
jan_median = median(jan)
feb_median = median(feb)
mar_median = median(mar)
apr_median = median(apr)
may_median = median(may)
jun_median = median(jun)
jul_median = median(jul)
aug_median = median(aug)
sep_median = median(sep)
oct_median = median(oct)
nov_median = median(nov)
dec_median = median(dec)

In [113]:
print("jan_average", jan_mean, "jan_median", jan_median)
print("feb_average", feb_mean, "feb_median", feb_median)
print("mar_average", mar_mean, "mar_median", mar_median)
print("apr_average", apr_mean, "apr_median", apr_median)
print("may_average", may_mean, "may_median", may_median)
print("jun_average", jun_mean, "jun_median", jun_median)
print("jul_average", jul_mean, "jul_median", jul_median)
print("aug_average", aug_mean, "aug_median", aug_median)
print("sep_average", sep_mean, "sep_median", sep_median)
print("oct_average", oct_mean, "oct_median", oct_median)
print("nov_average", nov_mean, "nov_median", nov_median)
print("dec_average", dec_mean, "dec_median", dec_median)

jan_average 0.1435483870967742 jan_median 0.02
feb_average 0.16842105263157894 feb_median 0.04
mar_average 0.15693548387096776 mar_median 0.025
apr_average 0.051333333333333335 apr_median 0.0
may_average 0.012419354838709677 may_median 0.0
jun_average 0.0305 jun_median 0.0
jul_average 0.012096774193548387 jul_median 0.0
aug_average 0.0182258064516129 aug_median 0.0
sep_average 0.041 sep_median 0.0
oct_average 0.189 oct_median 0.04
nov_average 0.18783333333333332 nov_median 0.035
dec_average 0.23629032258064517 dec_median 0.1

### What’s the average number of bikes at a given bike station?

In [94]:
count = station['current_dockcount'].round()
# count

In [83]:
average = round(Average(count))
average

17

### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [86]:
#average of the bike count and average of modificationed, the greater
count_original = station['install_dockcount'].round()
original_average = round(Average(count_original))
original_average

18

### It is more likely that it will lose bikes, because the original average is higher than current_dockcount

# Come up with 3 more questions that can be answered with this data set.

### #1 Which 5 Bike stations currently have the most bikes?

In [143]:
st = station[['name','current_dockcount']].set_index('current_dockcount').sort_index(ascending=False).head()
st

                                                                name
current_dockcount
26                            Cal Anderson Park / 11th Ave & Pine St
24                 Children's Hospital / Sandpoint Way NE & 40th ...
24                                   Pier 69 / Alaskan Way & Clay St
20                                    E Harrison St & Broadway Ave E
20                                             Mercer St & 9th Ave N

### #2 Which day was the hottest of all in the weather data set and what was it's humidity?

In [103]:
hottest = weather[["Date", "Max_Temperature_F", "Mean_Humidity"]].set_index('Date').sort_values(by=['Max_Temperature_F'], ascending=False).head(1)
hottest

           Max_Temperature_F  Mean_Humidity
Date
7/19/2015                 98             39

### #3 Who was the Oldest rider of these trips data?

In [132]:
oldest = trip['birthyear'].sort_values(ascending=True).head(1).item()
age = this_year - oldest
age

90.0

In [140]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(trip_duration, 1178.3542840325176) 
    assert_equal(common_age, 34.0)
    assert_equal(jan_mean, 0.1435483870967742)
    assert_equal(jan_median, 0.02)
    assert_equal(dec_mean, 0.23629032258064517)
    assert_equal(dec_median, 0.1)
    assert_equal(average, 17)
    assert_equal(original_average, 18)
    assert_equal(st.iloc[0].item(), 'Cal Anderson Park / 11th Ave & Pine St')
    assert_equal(st.iloc[4].item(), 'Mercer St & 9th Ave N')

    print("Success!!!")

test()

IndexError: single positional indexer is out-of-bounds